nav{
    background-color: #03363D;
}  

nav a {
    color:white;
}

section{
    color:#3b5142;
    background-color:  #F4F2F4;
    font-family: 'Kalam', cursiva;
}
ol{
    color:#3b5142;
    background-color:  #F4F2F4;
    font-family: 'Kalam', cursiva;
}
ul{
    color:whitesmoke;
    background-color: #3c8eac;
}
footer{
    color:rgb(10, 10, 10);
    background-color: #c3d632;

}